#district_site_contractors
  .container
    #footer_container
      .container
        .col-xs-4.footer_blue_left_section
          %h2.white-font CONTACT US!
        .col-xs-8.footer_grey_right_section
          .row
            .col-xs-9
              Provide your information to receive our newsletter and get updates on program launch timelines and upcoming events.
            .col-xs-3
              %button.btn.btn-info.btn-lg
                Contact Us
    .district_page
      .row
        .col-xs-12.text-center
          %h1 Participation is simple and easy!
          %p We provide the training, tools and resources you need. From training and lead generation to marketing materials and quick project payments, Clean Energy Sacramento is designed to increase your project pipeline and boost your bottom line.
          = image_tag 'contractor-steps.png'
      .row.text-center
        .col-xs-3
          %p Attend one of our upcoming contractor training sessions held at our Energy Center and convenient regional locations.
        .col-xs-3
          %p Once you complete our simple software and program training, we’ll add your name to our searchable contractor database.
        .col-xs-3
          %p Use our comprehensive suite of resources to kick-start your PACE sales efforts and boost your business.
        .col-xs-3
          %p Funding is fast, efficient and easy to access no matter the size of your project.
      %hr
      %h3 We Make It Easy
      .row
        .col-xs-8
          #software-demo.carousel
            .carousel-inner
              .item.active
                %p.font-14.subtle-dark
                  Find qualified properties quickly and easily.
                = image_tag 'address-lookup.png'
              .item
                %p.font-14.subtle-dark
                  Get found by local property owners
                = image_tag 'address-lookup.png'
              .item
                %p.font-14.subtle-dark
                  Manage all your projects in one place
                = image_tag 'address-lookup.png'
              .item
                %p.font-14.subtle-dark
                  Get paid in a matter of days with a check or we can transfer straight into your account
                = image_tag 'address-lookup.png'
        .col-xs-4
          %br
          %br
          %h3.dark-blue All-In-One Software
          .pad-5
            %ul.font-16
              %li Access anywhere
              %li Find qualified properties
              %li Get found by local property owners
              %li Manage your projects
              %li Get paid fast
          %a.btn.btn-default{"data-slide" => "prev", href: "#software-demo"}
            %i.glyphicon.glyphicon-arrow-left
            \ Prev Slide
          %a.btn.btn-default{"data-slide" => "next", href: "#software-demo"}
            Next Slide 
            %i.glyphicon.glyphicon-arrow-right
      %hr
      .row
        .col-xs-6
          %h2 Ygrene Training
          %br
          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.

          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.

          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.

          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.
        .col-xs-6
          %h2 Contractor Support
          %br
          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.

          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.

          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.

          %p{style: 'margin: 0;'}
            %strong
              Learn the program
          %p
            Everything you need to know to take advantage of Clean Energy Sacramento and understand the ways it can help your business.