#district_site_faq
  .container
    .district_page
      %h2 FAQs
      %hr
      .row
        .col-xs-8
          .district_grey_box_container
            %h3 Menu
            %hr
            %ol
              %li 
                = link_to 'Ygrene Interest Rates', ''
              %li 
                = link_to 'Funding Indices', ''
              %li 
                = link_to 'What types of buildings qualify for this program?', ''
              %li 
                = link_to 'What kinds of projects are eligible for funding?', ''
              %li 
                = link_to 'What is PACE and how does it work?', ''
              %li 
                = link_to 'What is Ygrene Contractor Certification, and is it required?', ''
        .col-xs-4
          .district_grey_box_container
            %h3 Events
            %hr
            %p
              %strong No events
      .row
        .col-xs-8
          %h3 Ygrene Interest Rates
          %table.table.table-striped
            %thead
              %tr
                %th
                %th 10-Year Term
                %th 15-Year Term
                %th 20-Year Term
            %tbody
              %tr
                %td Residential
                %td 7.625%
                %td 8.25%
                %td 8.50%
          %p (last updated June 3, 2014)
          %table.table.table-striped
            %thead
              %tr
                %th
                %th 10-Year Term
                %th 15-Year Term
                %th 20-Year Term
            %tbody
              %tr
                %td Commercial Platinum
                %td 6-yr Swap + 4.00%
                %td 9-yr Swap + 4.00%
                %td 12-yr Swap + 4.00%
              %tr
                %td Commercial Gold
                %td 6-yr Swap + 4.50%
                %td 9-yr Swap + 4.50%
                %td 12-yr Swap + 4.50%
          %p *Daily funding indices updated below.
          %hr
          %h3 Ygrene Interest Rates
          %table.table.table-striped
            %thead
              %tr
                %th
                %th 6-Year Libor Swap
                %th 9-Year Libor Swap
                %th 12-Year Libor Swap
            %tbody
              %tr
                %td 07/11/2014
                %td 1.99%
                %td 2.51%
                %td 2.82%
          %hr
          %strong What types of buildings qualify for this program?
          %p Homes and commercial buildings of all sizes, including industrial and multi-family residential properties, are eligible. Facilities that are not on the property tax rolls, such as schools or government buildings, are not eligible at this time.
          %hr
          %strong What kinds of projects are eligible for funding?
          %p Any energy-saving or renewable energy-producing improvement that is permanently affixed to the property is eligible for funding through PACE. Eligible project groups include energy efficiency retrofits, water conservation measures, and renewable energy generation systems.
          %hr
          %strong What is PACE and how does it work?
          %p PACE financing allows home and commercial building owners to finance renewable energy and efficiency upgrades (like efficient windows, heating or cooling, or water efficient appliances) over the long term by adding the payment onto their property taxes.  (PACE stands for “Property Assessed Clean Energy”.)
          %hr
          %strong What is Ygrene Contractor Certification, and is it required?
          %p Contractors participating in one of Ygrene's Clean Energy Districts must register for the program and attend Ygrene training. Our contractor training program provides a wide range of information on topics that include the following:
          %ul
            %li Ygrene Funding Management Software
            %li Bid submission and approval process
            %li Required work contract terms
            %li Project eligibility requirements
            %li Ygrene EnergyPro Module
            %li Program marketing resources
            %li Materials and supplies
            %li Clean energy sales tools
          %hr



